/*#region General */
* {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

html:root {
    --primary: #b5ddff;
    --secondary: #0084fd;
    --tertiary: #9792e4;
    --light: #ffffff;
    --dark:#333333;
}
/* #endregion general */

/* region utilities */

.d-flex{
    display: flex;
} 

.col_3 {
    width: calc(100% / 12 *3);
}

 /* #region header */

 .debug #logo, .debug #header_menu {
    background-color: red;
 }

 #app_header {
    background-color: var(--secondary);
    height: 50px;
    justify-content: space-between;
    align-items: center;
 } 

@media screen and (min-width:1200px) {
   .col_lg_6 {
    width: calc(100% / 12 * 6);
   }
}