/*#region General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:root {
    --primary: #b5ddff;
    --secondary: #0084fd;
    --tertiary: #9792e4;
    --light: #ffffff;
    --dark: #333333;
    --free: #fdc15f;
    --light_text: #aaaaaa;
}

body {
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

/* #endregion general */

/* region utilities */



.d-flex {
    display: flex;
}

.container {
    width: 80%;
    margin: auto;
}

.text_center {
    text-align: center;
}

.my_2 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.p_2 {
    padding: 2rem;
}

.px_2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py_3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pb_2 {
    padding-bottom: 2rem;
}

.pb_3 {
    padding-bottom: 3rem;
}

.pb_4 {
    padding-bottom: 4rem;
}

.pt_2 {
    padding-top: 2rem;
}

.row {
    flex-wrap: wrap;
    margin: 0.5rem;
    justify-content: center;
}

.col_3 {
    width: calc(100% / 12 *3);
}

.col_6 {
    width: calc(100% / 12 *6);
}

.col_8 {
    width: calc(100% / 12 *8);
}

.col_10 {
    width: calc(100% / 12 *10);
}


.col_12 {
    width: 100%;
}

/* #region header */


#app_header {
    background-color: var(--secondary);
    height: 8rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#app_header .container {
    justify-content: space-between;
}

#header_menu {
    justify-content: end;
}

#header_menu ul {
    display: none;
}

#app_header a {
    color: var(--light);
    text-decoration: none;
}

#header_menu .fa-bars {
    color: var(--light);
}




/* #endregion header */

/* #region demo */
.debug #demo .container {
    height: 1000px;
}

#demo [class^="col_"] {
    background-color: var(--primary);
    border-radius: 20px;
    margin: 0.5rem -0.5rem;
}

#demo .row .large_card {
    align-items: center;
    padding: 2rem 2rem 0 2rem;
    flex-direction: column;
}

#demo .row .large_card .col_content {
    flex-direction: column;
}

#demo .row h3,
#demo .row i {
    color: var(--secondary);
}

#demo .row h3 {
    font-size: 2rem;
}

#demo .row p {
    line-height: 1.5;
}

#demo .row .large_card .col_content p {
    color: var(--dark);
}

#demo .row .large_card .col_content span {
    color: var(--light);
    background-color: var(--secondary);
    padding: 0.5rem 2.5rem;
    border-radius: 20px;
    margin: 0 auto;
}

#demo .row .large_card .col_content .col_image {
    width: 50%;
    margin: auto;
}

/* #endregion demo */

/* #region planning  */

#planning {
    padding: 1rem 0;
    background-color: var(--tertiary);
}

#planning .row .card {
    flex-direction: column;
}

#planning .row .card .planning_img {
    margin: auto;
}

#planning .row .card h2 {
    color: var(--light);
    padding-bottom: 3rem;
    font-size: 3rem;
}

#planning .row .card p {
    color: var(--light);
    line-height: 1.5rem;
}

#planning .row .bottom_card {
    text-align: center;
    background-color: var(--light);
    margin: 3rem 0;
    padding: 2rem 1rem;
    border-radius: 20px;
}

#planning .row .bottom_card h2 {
    padding: 1rem 0;

}

#planning .row .bottom_card p {
    padding-bottom: 2rem;
}

#planning .row .bottom_card span {
    background-color: var(--tertiary);
    padding: 1rem 1.25rem;
    border-radius: 50%;
}

/* #endregion planning */

/* #region testimonial */


/* .debug #testiomonial .image, .debug #testiomonial .quote {
    height: 50px;
    border: 1px dashed black;
} */

#testimonial {
    background-color: var(--light);
    padding-bottom: 10rem;
}

#testimonial #testimonial_text {
    text-align: center;
    font-size: 1.5rem;

}

#testimonial #testimonial_text h2 {
    color: var(--tertiary);
    line-height: 3rem;
}

#testimonial #testimonial_text p {
    line-height: 2.5rem;
}

#testimonial .row {
    background-color: var(--tertiary);
    padding: 2rem;
    color: var(--light);
    line-height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 100px;
}

#testimonial .row .testimonial_image {
    margin: 2rem auto;
}

#testimonial .row img {
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

#testimonial .row .quote {
    padding: 2rem 0
}

#testimonial .row span {
    font-weight: bold;
    display: block;
    padding-top: 2rem;
}



/*/#endregion testimonial */

/* #region features */
#features {
    background-color: var(--tertiary);
}

#features .features_title {
    color: var(--light);
    padding: 10rem 0;
    font-size: 4rem;
    text-align: center;
}

#features .row .card {
    padding: 6rem 4rem;
    background-color: var(--light);
    margin-bottom: 2rem;
    border-radius: 30px;

}

#features .row .card h2 {
    font-size: 4rem;
    color: var(--tertiary);
}

#features .row .card h3 {
    font-size: 2rem;
    color: var(--tertiary);
}

#features .row .card p {
    line-height: 2.5rem;
    color: var(--light_text);
    font-size: 1.8rem;
}

#features .row .card span {
    color: var(--light);
    background-color: var(--tertiary);
    font-size: 1.5rem;
    padding: 2rem 6rem;
    border-radius: 50px;
    font-weight: bold;
    letter-spacing: 5px;
}

/* #endregion features */

/* #region about */

#about {
    padding: 4rem 0;
    background-color: var(--light);
}

#about .about_title {
    font-size: 5rem;
    color: var(--tertiary);
    padding-bottom: 1.5rem;

}

#about .row .about_text p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1.5rem 0;
}

#about .row .about_person .about_image .photo {
    margin: 3rem 0;
    position: relative;
}

#about .row .about_person .about_image .photo img {
    border-radius: 50%;
}

#about .row .about_person .about_image .photo i {
    position: absolute;
    right: -1rem;
    top: -2rem;
    color: var(--tertiary)
}

/* /about image */

#about .row .about_person .about_quote h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--tertiary);
}

#about .row .about_person .about_quote a {
    text-decoration: none;
    color: var(--light);
    font-size: 1.5rem;
    background-color: var(--tertiary);
    padding: 1rem 2rem;
    border-radius: 50px;
}

/* /about quote */
/* #endregion about */

/* #region call_to_action */

#call_to_action {
    background-color: var(--tertiary);
}

#call_to_action span {
    display: block;
    margin-bottom: 1.5rem;
    color: var(--light_text)
}

#call_to_action h3 {
    color: var(--light);
    font-size: 2rem;
}

#call_to_action h2 {
    font-size: 5rem;
    color: var(--free);
}

#call_to_action p {
    color: var(--light);
    font-size: 1.5rem;
    line-height: 2rem;
}

#call_to_action .btn {
    color: var(--tertiary);
    background-color: var(--light);
    padding: 1rem 2rem;
    margin: 0 3rem 3rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50px;
}

#call_to_action p .privacy {
    text-decoration: underline;
    color: var(--light);
}

/* #endregion call_to_action */

/* #region footer */

#app_footer {
    background-color: var(--dark);
}


#app_footer p {
    color: var(--light);
    font-size: 1.5rem;
    line-height: 2rem;
}

#app_footer #top_footer {
    padding-bottom: 5rem;
}

#app_footer a {
    color: var(--tertiary);
}

/* #region media */

@media screen and (min-width:768px) {

    /* #region 768px Utilities */
    .row {
        display: flex;
        justify-content: space-between;
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .col_md_4 {
        width: calc(100% /12 * 4);
    }

    .col_md_5 {
        width: calc(100%/ 12 * 5)
    }

    .col_md_6 {
        width: 50%
    }

    .col_md_7 {
        width: calc(100% / 12 * 7)
    }

    .col_md_8 {
        width: calc(100% / 12 * 8)
    }

    .col_md_9 {
        width: calc(100% /12 *9);
    }

    /* #endregion 768px Utilities */

    /* #region 768px header  */
    #app_header {
        height: 4rem;
    }

    /* #endregion 768px header  */

    /* #region 768px demo */
    #demo .row .large_card {
        align-items: flex-start;
    }

    #demo .row p {
        font-size: 14px;
    }

    #demo .row h3 {
        font-size: 1.5rem
    }

    #demo .row .large_card .col_content span {
        margin: 0 50% 0 0;
        text-align: center;
    }

    /* #endregion demo 768px */
    /* #region planning 768px */

    #planning .row .card .planning_img {
        text-align: center;

    }

    /* #endregion planning 768px */
    /* #region testimonial 768px */
    #testimonial .row {
        display: flex;
        margin: 1rem -1rem;
    }


    #testimonial .row .testimonial_image {
        margin: auto;
        padding-right: 1rem;
    }

    #testimonial .row .quote {
        font-size: 1.5rem;
        text-align: start;
    }

    /* #endregion testimonial 768px */
    /* #region features 768px */

    #features .row .card {
        padding: 4rem 2rem;
        margin: 0rem -2rem 2rem -2rem
    }

    #features .row .card p {
        line-height: 2rem;
        font-size: 1.3rem;
    }

    #features .row .card span {
        font-size: 1.3rem;
    }

    /* #endregion features 768px */

    /* #region about 768px  */
    #about .row {
        margin: 0 2rem;
    }

    #about .about_title {
        font-size: 3rem;
    }

    #about .about_text,
    #about .about_person {
        margin: 0 -2rem
    }

    #about .row .about_text p {
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 1rem 0;
    }

    #about .row .about_person .about_image .photo {
        margin: 2.5rem auto;
    }

    /* /about image */

    #about .row .about_person .about_quote h3 {
        font-size: 1.5rem;
        line-height: 2rem;
        color: var(--tertiary);
        padding-bottom: 2rem;
    }

    #about .row .about_person .about_quote a {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    /* /about quote */
}


@media screen and (min-width:1152px) {

    /* #region utilities 1152px */
    .container {
        width: 60%;
    }

    .col_lg_2 {
        width: calc(100% /12 * 2)
    }

    .col_lg_3 {
        width: calc(100% /12 * 3)
    }

    .col_lg_4 {
        width: calc(100% /12 * 4)
    }

    .col_lg_5 {
        width: calc(100% /12 * 5)
    }


    .col_lg_6 {
        width: 50%;
    }


    .col_lg_8 {
        width: calc(100% /12 * 8)
    }

    .col_lg_9 {
        width: calc(100% /12 * 9)
    }

    .col_lg_10 {
        width: calc(100% /12 * 10)
    }

    .col_lg_12 {
        width: 100%
    }

    /* #endregion utilities 1152px */

    /*#region header 1152px */

    #header_menu div {
        display: none;
    }

    #header_menu ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header_menu #start_button {
        background-color: var(--light);
        padding: 0.5rem 1rem;
        border-radius: 20px;
    }

    /*#endregion header 1152px */

    /*#region demo 1152px */

    #demo .row .large_card {
        flex-direction: row;
        justify-content: space-between;
        margin-right: -3em;
    }

    #demo .row .large_card .col_content {
        padding: 0;

    }

    #demo .row .large_card .col_content span {
        margin: 0;
        text-align: center;
    }

    #demo .row .large_card .col_image {
        margin: 0;
        align-self: flex-end;
    }

    /* #endregion demo 1152px */
    /* #region planning 1152px */
    #planning .row {
        margin: 0;
        justify-content: space-around;

    }

    #planning .row .card {
        padding: 2rem 0;
    }

    #planning .row .card .planning_img {
        padding-bottom: 5rem;
    }

    #planning .row .card h2 {
        padding-bottom: 2rem;
        font-size: 1.5rem;
    }

    #planning .row .card p {
        font-size: 12px;
        line-height: 1.5rem;
        padding-right: 1rem;
    }

    #planning .row .bottom_card {
        margin: 3rem 0;
        padding: 2rem;
        height: 50%;
        align-self: flex-end;
    }

    #planning .row .bottom_card .planning_img {
        margin: auto;
    }


    #planning .row .bottom_card h2 {
        padding: 1rem 0;

    }

    #planning .row .bottom_card p {
        padding-bottom: 2rem;
    }

    #planning .row .bottom_card span {
        background-color: var(--tertiary);
        padding: 1rem 1.25rem;
        border-radius: 50%;
    }

    /* #endregion planning 1152px */
    /* #region testimonial 1152px */
    #testimonial .row {
        display: flex;
        margin: 1rem -3rem;
    }


    #testimonial .row .testimonial_image {
        padding-right: 3rem;
    }

    #testimonial .row .quote {
        font-size: 1.2rem;
        text-align: start;
    }

    /* #endregion testimonial 1152px */

    #features .row {
        margin: 0 -3rem
    }

    #features .row .card {
        padding: 4rem 2rem;
        background-color: var(--light);
        margin-bottom: 4rem;
        border-radius: 30px;

    }

    #features .row .card h2 {
        font-size: 3rem;
        padding-bottom: 1.5rem;
        color: var(--tertiary);
    }

    #features .row .card h3 {
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
        color: var(--tertiary);
    }

    #features .row .card p {
        line-height: 1.5rem;
        color: var(--dark);
        font-size: 1rem;
        padding-bottom: 2rem;
    }

    #features .row .card span {
        color: var(--light);
        background-color: var(--tertiary);
        font-size: 0.8rem;
        padding: 0.5rem 2rem;
        border-radius: 20px;
        font-weight: bold;
        letter-spacing: 5px;
    }

    #about .row .about_person .about_image .photo {
        margin: 3rem auto;
    }

    /* /about image */

    #about .row .about_person .about_quote h3 {
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: var(--tertiary);
        padding-bottom: 3rem;
    }

    #about .row .about_person .about_quote a {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

/*#endregion demo 1152px */